  <a href="http://ec.europa.eu/programmes/creative-europe/" style="background-size: 0em;"><img src="{{ site.url }}/assets/eu250.png" alt="Creative Europe"></a>

<a href="https://www.oslo.kommune.no/" style="background-size: 0em; margin: .6em;"><img src="{{ site.url }}/assets/oslo120.png" alt="Oslo Kommune"></a>

<a href="http://www.m2c-bremen.de/index.php?option=com_content&view=article&id=48&Itemid=46&lang=en"style="background-size: 0em; margin: .6em"><img src="{{ site.url }}/assets/pss200.png" alt="People's Smart Sculpture"></a>
